.point_cursor {
	cursor : pointer;
}

.window_size_lebel {
/*	width       : 47px;*/
	font-family : arial,tahoma,helvetica,sans-serif;
	font-size   : 9px;
	text-align  : right;
}

#ag-command-image-controls-content table {
/*	border : 1px solid black;*/
}

#ag-command-box {
/*
	position : absolute;
	top      : 60px;
	left     : 10px;
*/
	margin-top : 4px;
	border-width : 0px;
}

.ag_command_btn{
	display  : block;
	position : relative;
	width    : 30px;
	height   : 30px;
/*	margin-bottom : 6px;*/
	border   : 1px transparent solid;
	background-repeat : no-repeat;
	background-position: center center;
	float:center;
}

.ag_command_btn:hover{
	border   : 1px #adcaed solid;
	cursor   : pointer;
}

#ag-command-btn-move{
	background-image : url(btn_move_off.png);
/*	display : none;*/
}

#ag-command-btn-move.ag_command_btn_on{
	background-image : url(btn_move_on.png);
/*	display : block;*/
}

#ag-command-btn-rotate{
	background-image : url(btn_rotate_off.png);
/*	display : none;*/
}

#ag-command-btn-rotate.ag_command_btn_on{
	background-image : url(btn_rotate_on.png);
/*	display : block;*/
}
#ag-command-btn-grid{
	background-image : url(btn_grid_off.png);
/*	display : none;*/
}

#ag-command-btn-grid.ag_command_btn_on{
	background-image : url(btn_grid_on.png);
/*	display : block;*/
}

#ag-command-lines{
	border     : 1px red solid;
	border     : 1px #f0f0f0 solid;
	width      : 87px;
	width      : 100px;
/*	width      : 150px;*/
/*
	filter     : alpha(opacity=30);
	-ms-filter : "alpha(opacity=30)";
	opacity    : 0.3;
*/
/*
	height : 300px;
	overflow-x:hidden;
	overflow-y:auto;
*/
}
#ag-command-lines:hover{
	border   : 1px #adcaed solid;
	cursor   : pointer;
	background-color: #f6f6f6;
/*
	filter     : alpha(opacity=100);
	-ms-filter : "alpha(opacity=100)";
	opacity    : 1.0;
*/
}

#ag-image-control-panel .x-panel-header-text {
	font-family    : tahoma,arial,helvetica,sans-serif;
	font-size      : 10px;
	color          : #15428b;
	font-weight    : bold;
}

.ag_command_title {
	font-family    : tahoma,arial,helvetica,sans-serif;
	font-size      : 10px;
	vertical-align : middle;
	text-align     : center;
	padding        : 0px;
	margin         : 0px;
	padding-bottom : 4px;
	white-space    : nowrap;
	color          : #15428b;
	color          : #254d9d;
	font-weight    : bold;
}

.ag_command_title div {
/*	margin-top         : 4px;*/
	background-color: #e6ebf0;
/*	background-image: url(../resources/images/default/toolbar/bg.gif);*/
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: left top;
	border: 1px solid #99bbe8;
	border-width: 1px 0px;
	line-height    :14px;

}

#ag-image-rotate-box .ag_command_title div {
	font-size:8px;
	line-height:10px;
	border-bottom-color:#bbd2ed;
}

#ag-image-rotate-box .ag-image-zoom-box-class {
	margin:4px 2px 0 2px;
	padding:0px 0px 2px 0px;
	border:1px solid #adcaed;
	border-top:0px;
}
#ag-image-rotate-box .ag-image-grid-box-class {
	margin:4px 2px 0 2px;
	padding:0px 0px 2px 0px;
	border:1px solid #adcaed;
	border-top:0px;
}

#ag-command-image-controls-rotateAuto-render {
	display      : inline;
	border-width : 0px;
}

#ag-command-image-controls-rotateAuto-render .x-form-check-wrap {
	display      : inline;
	background   : transparent none;
	border-width : 0px;
	margin-left  : 4px;
}

#ag-command-image-controls-rotateAuto-render .x-form-check-wrap .x-form-check-wrap-inner {
	background   : transparent none;
	border-width : 0px;
}

#ag-command-image-controls-rotateAuto-render .x-form-check-wrap .x-form-check-wrap-inner .x-form-check {
	margin-bottom : 0px;
}
#ag-command-image-controls-rotateAuto-render .x-form-cb-label {
	font-size : 10px;
}

#ag-command-clip-checkbox-render {
	display      : inline;
	border-width : 0px;
}

#ag-command-clip-checkbox-render .x-form-check-wrap {
	display      : inline;
	background   : transparent none;
	border-width : 0px;
	margin-left  : 4px;
}

#ag-command-clip-checkbox-render .x-form-check-wrap .x-form-check-wrap-inner {
	background   : transparent none;
	border-width : 0px;
}

#ag-command-clip-checkbox-render .x-form-check-wrap .x-form-check-wrap-inner .x-form-check {
	margin-bottom : 0px;
}

#ag-command-grid-render {
	display      : inline;
	border-width : 0px;
}

#ag-command-grid-render .x-form-check-wrap {
	display      : inline;
	background   : transparent none;
	border-width : 0px;
	margin-left  : 4px;
}

#ag-command-grid-render .x-form-check-wrap .x-form-check-wrap-inner {
	background   : transparent none;
	border-width : 0px;
}

#ag-command-grid-render .x-form-check-wrap .x-form-check-wrap-inner .x-form-check {
	margin-bottom : 0px;
}

#ag-command-clip-method-render {
	width:68px;
}
#ag-command-clip-predifined-render {
	width     : 90px;
}
#ag-command-clip-method-render .x-form-field{
	font-size : 9px;
}
#ag-command-clip-predifined-render .x-form-field{
	font-size : 9px;
}

.ag_command_label {
	font-family : arial,tahoma,helvetica,sans-serif;
	font-size   : 9px;
	vertical-align : middle;
	text-align     : center;
	padding        : 0px;
	margin         : 0px;
	padding-bottom : 4px;
	padding-right  : 2px;
	padding-left  : 2px;
	white-space    : nowrap;
}
.ag_command_separator {
	border-top  : 1px solid #adcaed;
	line-height : 4px;
	margin      : 0px 10px;
}
.ag_command {
	padding        : 0px;
	margin         : 0px;
	padding-bottom  : 4px;
	vertical-align : middle;
	text-align     : left;
}

.ag_command_center {
	padding        : 0px;
	margin         : 0px;
	padding-bottom  : 4px;
	vertical-align : middle;
	text-align     : left;
}

#ag-command-colormap-bar-render .x-form-check-wrap {
	padding        : 0px;
}
#ag-command-colormap-bar-render .x-form-check-wrap-inner {
	padding        : 1px;
}
#ag-command-colormap-bar-render .x-form-check {
	vertical-align : middle;
}

.ag_command_rotation_label {
	font-family    : arial,tahoma,helvetica,sans-serif;
	font-size      : 9px;
	vertical-align : middle;
	text-align     : right;
	padding        : 0px;
	margin         : 0px;
	white-space    : nowrap;
}

.ag_command_rotation_value {
	font-family    : arial,tahoma,helvetica,sans-serif;
	font-size      : 9px;
	vertical-align : middle;
	text-align     : left;
	padding        : 0px;
	margin         : 0px;
	white-space    : nowrap;
}

.x-grid3-row-selected .ag_point_none_data {
/*	background-color:#e0e0e0;*/
}
.ag_point_none_data {
/*	background-color:#f0f0f0;*/
	color:#888;
	background-image:none;
}

.ag_point_none_data .x-grid3-check-col {
	background-image:none;
}

.ag_point_none_data .x-grid3-check-col-on {
	background-image:none;
}

.ag_point_none_pallet_data .x-grid3-check-col {
	background-image:none;
}
.ag_point_none_pallet_data .x-grid3-check-col-on {
	background-image:none;
}

.x-grid3-row-selected .ag_point_data {
	background-color:#ffd700;
}
.ag_point_data {
	background-color:#f0e68c;
}


.bp3d_parts_none_data {
	color:#666;
	background-color:#ffe5e5;
	background-image:none;
}
.x-grid3-row-over .bp3d_parts_none_data {
	background-color:#fae0e0;
}

.x-grid3-row-selected .bp3d_parts_none_data {
	background-color:#fcc;
}

.bp3d_parts_none_common_data {
	color:#aaa;
	background-color:#ffd5d5;
	background-image:none;
}
.x-grid3-row-over .bp3d_parts_none_common_data {
	background-color:#fad0d0;
}

.x-grid3-row-selected .bp3d_parts_none_common_data {
	background-color:#ffbcbc;
}

.bp3d_parts_none_version_data {
	color:#666;
	background-color:#ffffe5;
	background-image:none;
}
.x-grid3-row-over .bp3d_parts_none_version_data {
	background-color:#fafae0;
}

.x-grid3-row-selected .bp3d_parts_none_version_data {
	background-color:#dfe88a;
}

.ag_grid_checkbox-dis {
	width: 100%;
	height: 16px;
	background: url(checkbox-dis.png) no-repeat center center transparent !important;
}

.ag_grid_checkbox-on-dis {
	width: 100%;
	height: 16px;
	background: url(checkbox-on-dis.png) no-repeat center center transparent !important;
}


.ag_grid_command_title {
	font-family    : tahoma,arial,helvetica,sans-serif;
	font-size      : 10px;
	vertical-align : middle;
	text-align     : center;
	padding        : 0px;
	margin         : 0px;
	white-space    : nowrap;
	color          : #15428b;
	color          : #254d9d;
	font-weight    : bold;
}

.ag_grid_command_title div {
/*	margin-top         : 4px;*/
	background-color: #e6ebf0;
/*	background-image: url(../resources/images/default/toolbar/bg.gif);*/
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: left top;
	border: 1px solid #99bbe8;
	border-width: 1px 1px 0px 0px;
	line-height    :14px;

}

.ag_grid_command {
	font-family    : tahoma,verdana,helvetica;
	font-size      : 10px;
	vertical-align : middle;
	text-align     : center;
	padding        : 0px;
	margin         : 0px;
	white-space    : nowrap;
	color          : #15428b;
	color          : #254d9d;
	font-weight    : bold;
}

.ag_grid_command div {
	background-color: #e6ebf0;
/*	background-image: url(../resources/images/default/toolbar/bg.gif);*/
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: left top;
	border: 1px solid #99bbe8;
	border-width: 0px 1px 1px 0px;
/*	line-height    :22px;*/
}

.ag_grid_command .x-btn button {
	font-size     : 9px;
}

#ag-command-usersave-panel{
	background: white; 
	font: 11px Arial, Helvetica, sans-serif;
}
#ag-command-usersave-panel .thumb{
	background: #dddddd; 
	padding: 3px; 
	text-align: center;
	width: 60px;
	cursor : pointer;
}
#ag-command-usersave-panel .thumb img{
/*
	height: 60px; 
	width: 80px; 
*/
}
#ag-command-usersave-panel .thumb-wrap{
	position : relative;
	float: left; 
	margin: 2px; 
	margin-right: 0; 
	padding: 2px;
	border:1px solid transparent; 
	cursor : pointer;
}
#ag-command-usersave-panel .thumb-wrap span{
	display: block;
	overflow: visible;
	text-align: center;
	margin-top: 6px;
	font-size : 10px;

	margin-left:4px;
	cursor : pointer;
}
#ag-command-usersave-panel .x-view-over{
	border:1px solid #dddddd; 
	background: #efefef url(../resources/images/default/grid/row-over.gif) repeat-x left top; 
/*
	padding: 5px; 
	padding-bottom: 5px; 
*/
}
#ag-command-usersave-panel .x-view-selected{ 
	background: #DFEDFF; 
	border: 1px solid #6593cf; 
/*
	padding: 5px; 
	padding-bottom: 5px; 
*/
} 
#ag-command-usersave-panel .x-view-selected .thumb{ 
	position : relative;
	background:transparent; 
}
#ag-command-usersave-panel .x-view-selected span{ 
	color:#1A4D8F;
}

#rotImgDiv {
	font-family : arial,tahoma,helvetica,sans-serif;
	font-size   : 9px;
}

#ag-point-grid-content-route a {
	font-weight : normal;
}

#ag-command-sample-panel{
	background: white; 
	font: 11px Arial, Helvetica, sans-serif;
}
#ag-command-sample-panel .thumb{
	background: #dddddd; 
	padding: 3px; 
	text-align: center;
	width: 60px;
	cursor : pointer;
}
#ag-command-sample-panel .thumb img{
/*
	height: 60px; 
	width: 80px; 
*/
}
#ag-command-sample-panel .thumb-wrap{
	position : relative;
	float: left; 
	margin: 2px; 
	margin-right: 0; 
	padding: 2px;
	border:1px solid transparent; 
	cursor : pointer;
}
#ag-command-sample-panel .thumb-wrap span{
	display: block;
	overflow: visible;
	text-align: center;
	text-align: left;
	margin-top: 6px;
	font-size : 10px;

	margin-left:4px;
	cursor : pointer;
}
#ag-command-sample-panel .x-view-over{
	border:1px solid #dddddd; 
	background: #efefef url(../resources/images/default/grid/row-over.gif) repeat-x left top; 
/*
	padding: 5px; 
	padding-bottom: 5px; 
*/
}
#ag-command-sample-panel .x-view-selected{ 
	background: #DFEDFF; 
	border: 1px solid #6593cf; 
/*
	padding: 5px; 
	padding-bottom: 5px; 
*/
} 
#ag-command-sample-panel .x-view-selected .thumb{ 
	position : relative;
	background:transparent; 
}
#ag-command-sample-panel .x-view-selected span{ 
	color:#1A4D8F;
}

#ag_url_editor .x-form-field{
	font-family : "Courier New";
	font-size   : 0.8em;
}

#ag-command-clip-fix-checkbox-render .x-form-check-wrap {
	padding-top: 0px;
}
#ag-command-clip-fix-checkbox-render .x-form-check-wrap-inner {
	padding-top: 0px;
}
#ag-command-clip-fix-checkbox-render .x-form-cb-label {
	font-family : arial,tahoma,helvetica,sans-serif;
	font-size   : 9px;
	margin-right : 4px;
}

#ag-command-clip-reverse-checkbox-render .x-form-check-wrap {
	padding-top: 0px;
}
#ag-command-clip-reverse-checkbox-render .x-form-check-wrap-inner {
	padding-top: 0px;
}
#ag-command-clip-reverse-checkbox-render .x-form-cb-label {
	font-family : arial,tahoma,helvetica,sans-serif;
	font-size   : 9px;
	margin-right : 4px;
}

#ag-command-windowsize-autosize-checkbox-render {
	padding-left: 16px;
}
#ag-command-windowsize-autosize-checkbox-render .x-form-check-wrap {
	padding-top: 0px;
}
#ag-command-windowsize-autosize-checkbox-render .x-form-check-wrap-inner {
	padding-top: 0px;
}
#ag-command-windowsize-autosize-checkbox-render .x-form-cb-label {
	font-family : arial,tahoma,helvetica,sans-serif;
	font-size   : 9px;
	margin-right : 4px;
}

#ag-command-bgcolor-transparent-checkbox-render {
	padding-left: 16px;
}
#ag-command-bgcolor-transparent-checkbox-render .x-form-check-wrap {
	padding-top: 0px;
}
#ag-command-bgcolor-transparent-checkbox-render .x-form-check-wrap-inner {
	padding-top: 0px;
}
#ag-command-bgcolor-transparent-checkbox-render .x-form-cb-label {
	font-family : arial,tahoma,helvetica,sans-serif;
	font-size   : 9px;
	margin-right : 4px;
}

.ag_image_rotate {
	display  : block;
	position : relative;
	float    : left;
	width    : 40px;
	height   : 48px;
	border : 1px solid;
	border-right-width : 2px;
	border-bottom-width : 2px;
	border-color : #f0f0f0;
	border-right-color : #eee;
	border-bottom-color : #eee;
/*	border-color : transparent;*/
	margin-left : 2px;
	cursor   : pointer;
}
.ag_image_rotate *{
	cursor   : pointer;
}
.ag_image_rotate:hover {
	border-color : #adcaed;
	border-right-color : #adcaed;
	border-bottom-color : #adcaed;
	background-color : #f0f0f0;
}

.ag_image_rotate img {
	width    : 48px;
	height   : 48px;
}

.ag_image_rotate table {
	position:absolute;
	left : 2px;
	top :0px;
	width : 36px;
	height : 48px;
	border-collapse: collapse;
	border-spacing: 2px;
	font-family: arial,tahoma,helvetica,sans-serif;
	font-size:8px;
	color:black;
	text-decoration : none;
}
.ag_image_rotate td {
	text-decoration : none;
}

#ag-image-rotate-front table {
	background: url(000_000.png) no-repeat transparent scroll center 2px;
}
#ag-image-rotate-left table {
	background: url(075_000.png) no-repeat transparent scroll -3px 2px;
}
#ag-image-rotate-back table {
	background: url(180_000.png) no-repeat transparent scroll -1px 2px;
}
#ag-image-rotate-right table {
	background: url(285_000.png) no-repeat transparent scroll -2px 2px;
}
#ag-image-rotate-top table {
	background: url(180_105.png) no-repeat transparent scroll center center;
}
#ag-image-rotate-bottom table {
	background: url(000_285.png) no-repeat transparent scroll center center;
}

#ag-comment-tabpanel .x-tab-strip {
	width : 100%;
}

#ag-comment-tabpanel__ag-parts-gridpanel {
/*	float: right;*//* 2011-09-07 */
}

.ext-ie .x-fieldset legend{
	margin-bottom:0px;
}

/*
#anatomo-edit-fmasearch-grid .x-grid3-scroller {
	overflow-x:hidden;
	overflow-y:auto;
}
*/

#ag-fma-search-tabpanel .x-tab-panel-header {
	height: 26px;
}
#ag-fma-search-tabpanel .x-tab-strip {
	width : 5000px;
}


.ag-command-rotate-menu {
	background-image : none !important;
}
.ag-command-rotate-menu .x-menu-item-active {
/*	background-image : url(item-over_63.gif) !important;*/
	background-image : none !important;
}
.ag-command-rotate-menu-item {
	line-height  : 24px !important;
	padding-left : 30px !important;
}
.ag-command-rotate-menu-item .x-menu-item-icon {
	width  : 24px !important;
	height : 24px  !important;
}

a#ag-command-zoom-btn-up{
	width        : 15px;
	height       : 15px;
	margin-left  : -1px;
	padding-left : 15px;
	background   : url(../img/tool-sprites.gif) no-repeat scroll 0px -60px;
}

a#ag-command-zoom-btn-up:hover{
	background-position: -15px -60px;
}

a#ag-command-zoom-btn-down{
	width        : 15px;
	height       : 15px;
	margin-left  : -1px;
	padding-left : 15px;
	background   : url(../img/tool-sprites.gif) no-repeat scroll 0px -75px;
}

a#ag-command-zoom-btn-down:hover{
	background-position: -15px -75px;
}

a#ag-command-zoom-spinner-up{
	background-image : url(spinner-up.png);
	background-repeat : no-repeat;
	background-position: 0px 0px;
	background-attachment: scroll;

	width:16px;
	padding-left: 16px;
}
a#ag-command-zoom-spinner-up:hover{
	background-image : url(spinner-up-hover.png);
}
a#ag-command-zoom-spinner-up:active{
	background-image : url(spinner-up-click.png);
}

a#ag-command-zoom-spinner-down{
	background-image : url(spinner-down.png);
	background-repeat : no-repeat;
	background-position: 0px 0px;
	background-attachment: scroll;

	width:16px;
	padding-left: 16px;
}
a#ag-command-zoom-spinner-down:hover{
	background-image : url(spinner-down-hover.png);
}
a#ag-command-zoom-spinner-down:active{
	background-image : url(spinner-down-click.png);
}


div#ag-image-command-box {
	position:absolute;
	top:2px;
	left:0px;
	background-color:transparent;
	opacity : 0.5;
}
div#ag-image-command-box:hover {
	opacity : 1;
}

div#ag-copyright {
	position:absolute;
	left:100%;
	top:100%;
	width:162px;
	height:12px;
	margin-left:-167px;
	margin-top:-15px;
	line-height:12px;
	font-family : tahoma,arial,helvetica,sans-serif;
	font-size   : 9px;
	font-weight: bold;
	padding : 1px 2px;
/*
	border-left: 1px solid #d7e4f3;
	border-top: 1px solid #d7e4f3;
*/
	background-color:#f0f0f0;
	background-color:transparent;
	opacity : 0.5;
	white-space: nowrap;
	overflow:hidden;
}
div#ag-copyright a{
	color : #0000ee;
	text-decoration: none;
}

#rotImgDiv{

	position   : absolute;
	visibility : hidden;
	left       : -100px;
	top        : -100px;
	width      : 80px;
	height     : 80px;
	background-color:#f0f0f0;
	background-image : url(../img/rotImg.png);
	background-repeat : no-repeat;
	border:1px solid #3c3c3c;

	font-size  : 10px;

	mozOpacity : 0.75;
	opacity : 0.75;
	filter : alpha(opacity=75);
}
#rotImgDiv table {
	width           : 80px;
	table-layout    : fixed;
	empty-cells     : show;
}
#rotImgDiv td {
	width           : 40px;
}

#ag-command-grid-color-ipad {
	border   : 1px #adcaed solid;
	cursor   : pointer;
	width    : 16px;
	height   : 16px;
	background-color:#f0f0f0;
}

#ag-command-grid-len-ipad {
	font-size:11px;
	font-family:arial,tahoma,helvetica,sans-serif;
}

/*
div#ag-command-image-controls-rotateAuto-render>div.x-form-check-wrap>div.x-form-check-wrap-inner>label.x-form-cb-label{
	font-size : 11px;
}
*/
div#ag-command-autorotate-chechbox-render{
	width : 84px;
	float : left;
	text-align: center;

	float: left;
	text-align: center;
	width: 56px;
	padding: 0px 5px;
	margin-left: 2px;
	white-space: nowrap;

}
div#ag-command-autorotate-chechbox-render>div.x-form-check-wrap{
/*	margin:0px auto;*/
	float: left;
}
div#ag-command-autorotate-chechbox-render>div.x-form-check-wrap>div.x-form-check-wrap-inner>label.x-form-cb-label{
	font-size : 9px;
}
div#ag-image-command-box:hover div#ag-command-autorotate-chechbox-render{
	background-color:#ffffff;
}
label#ag-command-autorotate-chechbox-label{
	font-size: 9px;
	line-height:10px;
}
