.convert-pin-item {
	background-image: url(pin_arrow.png) !important;
}
.find-item {
	background-image: url(binocular.png) !important;
}
.find-pin-item {
	background-image: url(binocular.png) !important;
}
.find-group-item {
	background-image: url(binocular.png) !important;
}
.add-group-item {
	background-image: url(plus_circle_frame.png) !important;
}
.edit-group-item {
	background-image: url(pencil.png) !important;
}
.del-group-item {
	background-image: url(icon006.png) !important;
}
.add-pin-item {
	background-image: url(pin_plus.png) !important;
}
.edit-pin-item {
	background-image: url(pencil.png) !important;
}
.del-pin-item {
	background-image: url(icon006.png) !important;
}
.pin-item {
	background-image: url(pin.png) !important;
}
.add-link-item {
	background-image: url(link.png) !important;
}
.del-link-item {
	background-image: url(link_break.png) !important;
}
